.loading {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1001;
  &--bg {
    width: 100vw;
    height: 100vh;
    background-color: #101010;
  }
  span {
    display: block;
    background-color: #e6e6e6;
    
    height: 1px;
    animation: loadingAnimation 2s linear infinite;
    animation-direction: alternate;
  }
}

// .loader {
//   overflow-x: hidden;
// }

@keyframes loadingAnimation {
  0% {
    width: 0px;
  }
  100% {
    width: 200px;
  }
}